.tabs-wrap {
  display: flex;
  flex: 0 0 110px;
  cursor: pointer;
}
.tabs-wrap.selected {
  box-shadow: 0px 3px 0px black;
  transition: 0.8s;
}

.icon-wrap {
  flex: 0 0 40px;
  line-height: 40px;
  text-align: center;
}

.font-awesome-icon {
  line-height: 30px;
  text-align: center;
}
.tabs-title {
  line-height: 40px;
  font-size: 14px;
}
